.officerbgcolor{
  background-color: #3AAFA9;

}
.logosize{
  font-size:40px;
  font-family: Georgia;
              /*  */
  text-shadow: 2px 3px 3px #808080;
}

@media screen and (max-width: 1024px) {
  .logosize {
    font-size:20px ;
  }
}

* {
    box-sizing: border-box;
}
@media screen and (max-width: 1025px) {
  body {
      height: 100vh;
      width: 100%;
  }
}

body {
    margin: 0;
    padding: 0;
}

@media (max-width:1024px){
.fontSizeTitle{
    font-size: 20px;
  }
}

/* side menu for phone size */
.side-nav {
    overflow: hidden;
    position: relative;
    transform: translateX(-240px);
    /* transform: translateY(-40px); */
    /* transform: translateY(-50px); */
    height: 100%;
    width: 300px;
    transition: all 800ms cubic-bezier(.8, 0, .33, 1);
    border-radius: 0% 0% 100% 50%;
}

.side-nav.nav-open {
    z-index: 2;
    transform: translateX(0px);
    border-radius: 0% 0% 0% 0%;
	 background: rgba(255, 255, 255, 1);
}

.side-nav .menu-btn {
    position: absolute;
    top: 1%;
    right: 5%;
    padding: 0;
    width: 30px;
    cursor: pointer;
    z-index: 2;

}

@media screen and (min-width: 1025px) {
  .side-nav .menu-btn {
    display: none;
  }
}

.side-nav .menu-btn .line {
    padding: 0;
    width: 40px;
    background: #000000;
    height: 2px;
    margin: 5px 0;
    transition: all 700ms cubic-bezier(.9, 0, .33, 1);
}

.side-nav .menu-btn .line.line--1 {
    width: 40px;
    transform: rotate(0) translateY(0);
}

.side-nav .menu-btn .line.line--1.line-cross {
    width: 30px;
    transform: rotate(45deg) translateY(10px);
	 background: rgba(0,0,0,0.6);
}

.side-nav .menu-btn .line.line--2 {
    width: 35px;
    transform: translateX(0);
}

.side-nav .menu-btn .line.line--2.line-fade-out {
    width: 28px;
    transform: translate(30px);
    opacity: 0;
}

.side-nav .menu-btn .line.line--3 {
    width: 30px;
    transform: rotate(0) translateY(0);
}

.side-nav .menu-btn .line.line--3.line-cross {
    width: 30px;
    transform: rotate(-45deg) translateY(-10px);
	 background: rgba(0,0,0,0.6);
}

.side-nav .nav-links {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    margin-top: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    transform: translateX(-100px);
    opacity: 0;
    transition: all 900ms cubic-bezier(.9, 0, .33, 1);
}

@media screen and (max-width: 1024px) {
  .side-nav .nav-links {
    margin-top: 50%;
  }
}

.side-nav .nav-links.fade-in {

    opacity: 1;
    transform: translateX(0px);
}

.side-nav .nav-links .link {
    margin: 20px 0;
    text-decoration: none;
    font-family: sans-serif;
    color: rgba(0,0,0,0.9);
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 300ms cubic-bezier(.9, 0, .33, 1);
}

.side-nav .nav-links .link:hover {
    color: rgba(0, 0, 0, .5);
}



.side-nav a{
	margin: 0 20px;
	color: #fff;
	font-size: 15px;
	transition: all 400ms ease;
}

.side-nav a:hover{
	color: #222;
}

/* -------------------------------------- */
/* -------------side menu---------------- */
/* -------------------------------------- */

.nav-side-menu {
  /* overflow: auto; */
  /* font-family: verdana; */
  margin-top: 75px;
  font-size: 20px;
  font-weight: 200;
  background-color: #2e353d;
  position: fixed;
  top: 0px;
  width: 300px;
  height: 100%;
  color: #e1ffff;
  text-align: center;
}

@media screen and (max-width: 1024px) {
  .nav-side-menu {
    display: none;
  }
}

.nav-side-menu ul,
.nav-side-menu li {
  list-style: none;
  padding: 0px;
  margin: 0px;
  line-height: 35px;
  cursor: pointer;

}

.nav-side-menu li {
  margin-top: 30px;
  padding-left: 0px;
  border-left: 3px solid #2e353d;
  border-bottom: 1px solid #23282e;
}
.nav-side-menu li a {
  text-decoration: none;
  color: #e1ffff;
}

.nav-side-menu li:hover {
  border-left: 3px solid #d19b3d;
  background-color: #4f5b69;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}

@media (max-width: 767px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }


}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
}

/* main content */

.inform{

	position:absolute;
	top: 35%;
	left: 55%;
	transform: translate(-50%, -50%);
  width: 60%;
  background-color: #98d6d3;

	font-size: 15px;
  border-radius: 15px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
  box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
}

@media (max-width: 1024px) {
  .inform {
    top: 34%;
    left: 50%;

    width: 80%;
  }
}


/* for gen repo */
.informForGenRepo{

	position:absolute;
	top: 52%;
	left: 55%;
	transform: translate(-50%, -50%);
  width: 60%;
  background-color: #98d6d3;

	font-size: 15px;
  border-radius: 15px;

  -webkit-box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
  box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
}

@media (max-width: 1024px) {
  .informForGenRepo {
    top: 50%;
    left: 50%;
    width: 96%;
  }
}

/* for record test */
.informForrecTester{
  z-index: 1;
	position:absolute;
	top: 40%;
	left: 55%;
	transform: translate(-50%, -50%);
  width: 60%;
  background-color: #98d6d3;
	/* color: rgba(255, 255, 255, 0.8); */
	font-size: 15px;
  border-radius: 15px;
	/* font-family: sans-serif; */
	/* text-transform: uppercase; */
	/* letter-spacing: 5px; */
	/* text-shadow: 0 0 20px rgba(0,0,0,0.6); */
  -webkit-box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
  -moz-box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
  box-shadow: 10px 10px 5px 0px rgba(66,66,66,1);
}

@media (max-width: 1024px) {
  .informForrecTester {
    top: 40%;
    left: 50%;

    width: 100%;
  }
}
/* -----------------------manager content------------------------- */

/*-------- record test center -----*/
.testCeneterReg{
  text-align: center;
  padding:  5%;


}
/* -- label styles --- */
.testCeneterReg label {

  color: black;
  font-size: 15px;
  font-weight: 400;

}


/* -------record tester -----------*/
.recordTester {
  margin-left: 20%;
  width: 60%;
  padding-top: 1%;
  padding-bottom: 1%;
}
@media (max-width: 1024px) {
  .recordTester {
    margin-left: 0;
    padding: 5%;
    width: 100%;
  }
}


/* -- label styles --- */
.recordTester label {

  color: black;
  font-size: 14px;
  font-weight: 300;

}

/* ---------Manage test kit-------- */
.mngKits{
    padding:  5%;
}
.mngKitsBtn select{
  width: 500px;
}
.mngKitsBtn button{
  width: 50%;
}
@media(max-width:1024px){
  .mngKitsBtn select{
    width: 100%;
  }
}

.btnUpdKitSize input{
  width:50%;
}
@media(max-width:1024px){
  .btnUpdKitSize input{
    width: 100%;
  }
}

/* --------------------------- tester page------------------------------ */
.testerGenTes{
    padding:  5%;
}

/* record test */
.recTes{
    padding:  5%;
}
.recTes select{
  width: 300px;
}
.recTes button{
  width: 50%;
}
@media(max-width:1024px){
  .recTes select{
    width: 100%;
  }
}

/* update result */
.updTest {
  padding:  5%;
}
.updTest select{
  width: 50%;
}
@media(max-width:1024px){
  .updTest select{
    width: 100%;
  }
}

.updResultForm select{
  width: 45%;
}
@media(max-width:1024px){
  .updResultForm select{
    width: 95%;
  }
}
